*{
	margin:0;
	padding:0; 
	font-family: Century Gothik;
	box-sizing: border-box;
}

ul{
	float: right;
	list-style-type: none;
 	margin-top: 25px;
 	margin-right: 15px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: aliceblue;
	color: #000;
}

.download{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 2%;
	left: 2%;
}

.download2{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 6%;
	left: 2%;
}

.clock{
	position: absolute;
	top: 94%;
	left: 80%;
	color: #fff;
}