*{
	margin:0;
	padding:0; 
	font-family: Century Gothik;
	box-sizing: border-box;
}

.main{
	position: absolute;
	top: 2%;
	left: 2%;
	padding: 2px 10px;
	color: #fff;
	background-color: red;
}

.main:hover{
	color: #fff;
	background-color: pink;
	transition: 0.6s ease;
	cursor: pointer;
}

input{
	border: 3px solid #fff;
	height: 50px;
	width: 300px;
}

ul{
	float: right;
	list-style-type: none;
 	margin-top: 25px;
 	margin-right: 15px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: aliceblue;
	color: #000;
}

.download{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 19%;
	left: 24%;
}

.download3{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 25%;
	left: 24%;
}

.download2{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 19%;
	left: 2%;
}

.torrent-rar{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 19%;
	left: 55%;
}

.torrent-zip{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 25%;
	left: 55%;
}

.mkv{
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 19%;
	left: 80%;
}

.games h1{
	color: #fff;
	position: absolute;
	top: 12%;
	left: 2%;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 25px;

}

.games h2{
	color: #fff;
	position: absolute;
	top: 13%;
	left: 24%;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 25px;

}

.games h3{
	color: #fff;
	position: absolute;
	top: 13%;
	left: 55%;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 25px;

}

.games h4{
	color: #fff;
	position: absolute;
	top: 13%;
	left: 80%;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 25px;
}


.clock{
	position: absolute;
	top: 94%;
	left: 80%;
	color: #fff;
}